.datepicker-form-control {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;

    .flatpickr-input {
        +input.form-control {
            flex: 1;
            border: 1px solid $grey-dark;
            padding: spacing(0.5);

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                &:hover {
                    cursor: not-allowed;
                }
            }
        }
    }
}