%flex {
    display: flex;
}

.row {
    @extend %flex;
    flex-flow: row wrap;
    gap: spacing(4);
    margin-bottom: spacing(5);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: spacing(4);
}