@import "_variables";
@import "functions";
@import "mixins";
@import "_common";
@import "_layout";
@import "/src/styles/components/components.scss";



.header {
	height: $header-height;
	padding: spacing(2);
	color: $black;

	>* {
		margin: 0;
	}
}

#root,
.app-wrapper {
	min-height: 100vh;
}

.app-wrapper {

	.app-header {
		background: $primary;
		color: $white;

		>* {
			display: flex;
			justify-content: space-between;
			padding: spacing(3) 0;
		}

		.logout-wrapper {
			display: flex;
			gap: spacing(2);
			align-items: center;

			.button {
				padding: 0;
				font-size: 18px;
			}
		}
	}
}