$statuses: success, warning, danger;

@mixin status {
    @each $status in $statuses {
        &.is-#{$status} {
            background: map-get(("success": $success, "warning": $warning, "danger": $danger), $status);
        }
    }
}

$btn-types: primary, secondary;

@mixin button {
    @each $item in $btn-types {
        $color: map-get(("primary": $primary, "secondary": $secondary), $item);

        &.is-#{$item} {
            color: $white;
            background: $color;
            border: 1px solid $color;
        }
    }
}